In [34]:
import pandas as pd
import numpy as np
import math
import dtale
from datetime import datetime, timedelta

In [35]:
data = pd.read_csv('./DMs/TH_SB11_2012_1.csv', low_memory=False)

In [36]:
data.shape

(45390, 14)

In [38]:
girls = data[(data["IDESTGEN"] == 1) & (data["IDDESMATH"] == 7) & (data["IDPUESTO"] == 1)]
count1 = len(girls.index)
count1

23

In [39]:
guys = data[(data["IDESTGEN"] == 2) & (data["IDDESMATH"] == 7) & (data["IDPUESTO"] == 1)]
count1 = len(guys.index)
count1

39

In [40]:
data_sub1 = data[(data["IDDESMATH"] == 7) & (data["IDPUESTO"] == 1)]

In [41]:
data_sub1.to_csv('./DMs/TH_SB11_2012_1best.csv', index = False)

In [42]:
databest = pd.read_csv('./DMs/TH_SB11_2012_1best.csv', low_memory=False)

In [45]:
databest

,IDTDOC,IDEPAIS,IDESTGEN,EDAD,IDCODEMUNI,IDCODEDEPTO,IDCOLCALEN,IDCOLGEN,IDCOLNATU,IDCOLBILIN,IDCOLCARAC,IDDESING,IDDESMATH,IDPUESTO
0,1,1,2,26,76111.0,76.0,2,1,2,0.0,3,4,7,1
1,1,1,1,26,52001.0,52.0,1,1,1,0.0,1,2,7,1
2,3,1,2,18,52678.0,52.0,1,1,1,0.0,1,3,7,1
3,1,1,1,20,41668.0,41.0,1,1,1,0.0,1,4,7,1
4,1,1,2,21,68001.0,68.0,1,1,1,0.0,3,5,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1,1,1,18,41001.0,41.0,1,1,1,0.0,1,4,7,1
58,1,1,2,23,11001.0,11.0,3,1,2,0.0,5,4,7,1
59,1,1,1,20,52001.0,52.0,1,1,1,0.0,1,3,7,1
60,1,1,2,26,52001.0,52.0,3,1,2,0.0,5,4,7,1
61,1,1,2,24,11001.0,11.0,3,1,2,0.0,5,6,7,1

In [94]:
notdup = []
sipdup = []
total = []
incity = databest['IDCODEMUNI']
for city in incity:
    if city not in notdup:
        notdup.append(city)
        sipdup.append(city)
    else:
        sipdup.append(city)

for sip in notdup:
    elm_count = sipdup.count(sip)
    total += [(elm_count, sip)]

In [83]:
total.sort()
total

[(1, 15238.0),
 (1, 41396.0),
 (1, 41524.0),
 (1, 41551.0),
 (1, 41668.0),
 (1, 52019.0),
 (1, 52022.0),
 (1, 52352.0),
 (1, 52356.0),
 (1, 52683.0),
 (1, 52685.0),
 (1, 52693.0),
 (1, 54001.0),
 (1, 76111.0),
 (1, 76126.0),
 (1, 76364.0),
 (1, 76400.0),
 (1, 81736.0),
 (2, 41001.0),
 (2, 52678.0),
 (2, 73001.0),
 (2, 76520.0),
 (3, 19001.0),
 (4, 68001.0),
 (5, 17001.0),
 (5, 52001.0),
 (8, 76001.0),
 (11, 11001.0)]

In [93]:
total[-1][0], total[-1][1]

(11, 11001.0)

In [100]:
edad =  data[(data["IDESTGEN"] == 2) & (data["IDDESMATH"] == 7) & (data["IDPUESTO"] == 1)]
print("La mayor edad es de", max(edad['EDAD']), "y la menor es de", min(edad['EDAD']))

La mayor edad es de 57 y la menor es de 18