In [62]:
#!pip install dtale

Defaulting to user installation because normal site-packages is not writeable
Collecting dtale
  Downloading dtale-2.16.0-py2.py3-none-any.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 11.5 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting dash-colorscales (from dtale)
  Downloading dash_colorscales-0.0.4.tar.gz (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.3/62.3 kB 1.0 MB/s eta 0:00:000:00:01
  Preparing metadata (setup.py) ... done
Collecting dash-daq (from dtale)
  Downloading dash_daq-0.5.0.tar.gz (642 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 642.7/642.7 kB 3.3 MB/s eta 0:00:00m eta 0:00:01
  Preparing metadata (setup.py) ... done
Collecting Flask-Compress (from dtale)
  Downloading Flask_Compress-1.13-py3-none-any.whl (7.9 kB)
Collecting future>=0.14.0 (from dtale)
  Downloading future-0.18.3.tar.gz (840 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 840.9/840.9 kB 5.4 MB/s eta 0:00:00m eta 0:00:01
  Preparing metadata (setup.py) ... done
Collecting kaleido (from dtale)
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 6.4 MB/s eta 0:00:000m eta 0:00:01[36m0:00:01
Collecting missingno<=0.4.2 (from dtale)
  Downloading missingno-0.4.2-py3-none-any.whl (9.7 kB)
Requirement already satisfied: pandas in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (1.5.3)
Collecting squarify (from dtale)
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Collecting strsimpy (from dtale)
  Downloading strsimpy-0.2.1-py3-none-any.whl (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.9/45.9 kB 671.1 kB/s eta 0:00:0031m99.7 MB/s eta 0:00:01
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from dtale) (1.16.0)
Collecting xlrd (from dtale)
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 273.1 kB/s eta 0:00:00 MB/s eta 0:00:01
Collecting matplotlib<=3.6.0 (from dtale)
  Downloading matplotlib-3.6.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 13.7 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: beautifulsoup4 in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (4.12.2)
Requirement already satisfied: certifi in /usr/lib/python3/dist-packages (from dtale) (2020.6.20)
Requirement already satisfied: cycler in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (0.11.0)
Collecting flask-ngrok (from dtale)
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Collecting lz4 (from dtale)
  Downloading lz4-4.3.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 6.1 MB/s eta 0:00:000m eta 0:00:01[36m0:00:01
Collecting dash-bootstrap-components<=1.3.1 (from dtale)
  Downloading dash_bootstrap_components-1.3.1-py3-none-any.whl (219 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 219.7/219.7 kB 1.3 MB/s eta 0:00:00[36m0:00:01
Requirement already satisfied: seaborn in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (0.12.2)
Requirement already satisfied: networkx in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (3.1)
Collecting scikit-learn (from dtale)
  Downloading scikit_learn-1.2.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 13.8 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: statsmodels in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (0.14.0)
Requirement already satisfied: numpy in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (1.23.5)
Collecting openpyxl!=3.2.0b1 (from dtale)
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting xarray (from dtale)
  Downloading xarray-2023.5.0-py3-none-any.whl (994 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 994.3/994.3 kB 7.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting dash (from dtale)
  Downloading dash-2.10.2-py3-none-any.whl (10.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.3/10.3 MB 13.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting et-xmlfile (from dtale)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Collecting plotly (from dtale)
  Downloading plotly-5.14.1-py2.py3-none-any.whl (15.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 12.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: itsdangerous in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (2.1.2)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from dtale) (2.25.1)
Requirement already satisfied: Flask in /home/gabriel/.local/lib/python3.9/site-packages (from dtale) (2.2.3)
Collecting scipy<=1.9.3 (from dtale)
  Downloading scipy-1.9.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (33.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.8/33.8 MB 8.5 MB/s eta 0:00:000m eta 0:00:010:01:01
Requirement already satisfied: Werkzeug<2.3.0 in /home/gabriel/.local/lib/python3.9/site-packages (from dash->dtale) (2.2.3)
Collecting dash-html-components==2.0.0 (from dash->dtale)
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0 (from dash->dtale)
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0 (from dash->dtale)
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: Jinja2>=3.0 in /home/gabriel/.local/lib/python3.9/site-packages (from Flask->dtale) (3.1.2)
Requirement already satisfied: click>=8.0 in /home/gabriel/.local/lib/python3.9/site-packages (from Flask->dtale) (8.1.3)
Requirement already satisfied: importlib-metadata>=3.6.0 in /home/gabriel/.local/lib/python3.9/site-packages (from Flask->dtale) (6.0.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (9.5.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/gabriel/.local/lib/python3.9/site-packages (from matplotlib<=3.6.0->dtale) (2.8.2)
Collecting tenacity>=6.2.0 (from plotly->dtale)
  Downloading tenacity-8.2.2-py3-none-any.whl (24 kB)
Requirement already satisfied: soupsieve>1.2 in /home/gabriel/.local/lib/python3.9/site-packages (from beautifulsoup4->dtale) (2.4.1)

Collecting brotli (from Flask-Compress->dtale)
  Downloading Brotli-1.0.9-cp39-cp39-manylinux1_x86_64.whl (357 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 357.2/357.2 kB 2.5 MB/s eta 0:00:00[36m0:00:01
Requirement already satisfied: pytz>=2020.1 in /home/gabriel/.local/lib/python3.9/site-packages (from pandas->dtale) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in /home/gabriel/.local/lib/python3.9/site-packages (from scikit-learn->dtale) (1.2.0)
Collecting threadpoolctl>=2.0.0 (from scikit-learn->dtale)
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: patsy>=0.5.2 in /home/gabriel/.local/lib/python3.9/site-packages (from statsmodels->dtale) (0.5.3)
Requirement already satisfied: zipp>=0.5 in /home/gabriel/.local/lib/python3.9/site-packages (from importlib-metadata>=3.6.0->Flask->dtale) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/gabriel/.local/lib/python3.9/site-packages (from Jinja2>=3.0->Flask->dtale) (2.1.2)
Building wheels for collected packages: future, dash-colorscales, dash-daq
  Building wheel for future (setup.py) ... done
  Created wheel for future: filename=future-0.18.3-py3-none-any.whl size=492025 sha256=84deb8fbc27aa560ab94cdd46a078b9b219e5e62e900b315e645775cc2fa29cf
  Stored in directory: /home/gabriel/.cache/pip/wheels/bf/5d/6a/2e53874f7ec4e2bede522385439531fafec8fafe005b5c3d1b
  Building wheel for dash-colorscales (setup.py) ... done
  Created wheel for dash-colorscales: filename=dash_colorscales-0.0.4-py3-none-any.whl size=62597 sha256=bd90601f648f13908e27947021f66e89a53bd7a5845dfda82ee9476ebf6947b8
  Stored in directory: /home/gabriel/.cache/pip/wheels/ec/32/ec/dc8a1aa820182edf280a5e26c76fc9493ae29e196735708de2
  Building wheel for dash-daq (setup.py) ... done
  Created wheel for dash-daq: filename=dash_daq-0.5.0-py3-none-any.whl size=669702 sha256=920b63351c6b5a444cf264c16b0007414b2799914096298402750d4d15b523c9
  Stored in directory: /home/gabriel/.cache/pip/wheels/53/73/ea/8a422aab5cab848d88653ed3087c1fa05553c3fbd67fb6ab75
Successfully built future dash-colorscales dash-daq
Installing collected packages: strsimpy, squarify, kaleido, dash-table, dash-html-components, dash-core-components, dash-colorscales, brotli, xlrd, threadpoolctl, tenacity, scipy, lz4, future, et-xmlfile, scikit-learn, plotly, openpyxl, matplotlib, xarray, flask-ngrok, Flask-Compress, dash, missingno, dash-daq, dash-bootstrap-components, dtale
  Attempting uninstall: scipy
    Found existing installation: scipy 1.10.1
    Uninstalling scipy-1.10.1:
      Successfully uninstalled scipy-1.10.1
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.7.1
    Uninstalling matplotlib-3.7.1:
      Successfully uninstalled matplotlib-3.7.1
Successfully installed Flask-Compress-1.13 brotli-1.0.9 dash-2.10.2 dash-bootstrap-components-1.3.1 dash-colorscales-0.0.4 dash-core-components-2.0.0 dash-daq-0.5.0 dash-html-components-2.0.0 dash-table-5.0.0 dtale-2.16.0 et-xmlfile-1.1.0 flask-ngrok-0.0.25 future-0.18.3 kaleido-0.2.1 lz4-4.3.2 matplotlib-3.6.0 missingno-0.4.2 openpyxl-3.1.2 plotly-5.14.1 scikit-learn-1.2.2 scipy-1.9.3 squarify-0.4.3 strsimpy-0.2.1 tenacity-8.2.2 threadpoolctl-3.1.0 xarray-2023.5.0 xlrd-2.0.1

In [1]:
import os
import csv
import dtale
import pandas as pd
import ydata_profiling
from datetime import datetime, timedelta
from dateutil import relativedelta

In [2]:
data = pd.read_csv('/home/gabriel/prog/dataAnalytics/entrega_icfes_2012_1/DMs/TH_SB11_2012_1.csv', low_memory=False)

In [3]:
d = dtale.show(data)
d

In [4]:
data = pd.read_csv('./docs/SB11-20121-RGSTRO-CLFCCN-V1-0-txt.csv', low_memory=False)

In [ ]:
# ****************************  ELIMINAR COLUMNAS Q NO SE VAN A USAR
columnsrem = ['ESTU_TIPO_DOCUMENTO', 'ESTU_PAIS_RESIDE', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA', 'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO', 'ESTU_EDAD', 'FECHA_ANO', 'EDAD', 'ESTU_ETNIA', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_RESIDE_MCPIO', 'ESTU_RESIDE_DEPTO', 'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_BILINGUE', 'COLE_CARACTER', 'PUNT_INGLES', 'DESEMP_INGLES', 'ESTU_PUESTO']

for column in data.columns:
    if column not in columnsrem:
        data.drop([column], axis=1, inplace=True)
        data.to_csv('./DMs/SB11_2012_1.csv', index = False)

In [ ]:
data.dtypes

In [86]:
data = pd.read_csv('./DMs/SB11_2012_1.csv', low_memory=False)
print(data.shape)
for col in data.columns:
    print(f'Columna {col}: {data[col].nunique()} subniveles')

(45390, 20)
Columna ESTU_TIPO_DOCUMENTO: 7 subniveles
Columna ESTU_PAIS_RESIDE: 21 subniveles
Columna ESTU_GENERO: 3 subniveles
Columna ESTU_NACIMIENTO_DIA: 31 subniveles
Columna ESTU_NACIMIENTO_MES: 12 subniveles
Columna ESTU_NACIMIENTO_ANNO: 66 subniveles
Columna ESTU_EDAD: 62 subniveles
Columna FECHA_ANO: 4242 subniveles
Columna EDAD: 32 subniveles
Columna ESTU_ETNIA: 18 subniveles
Columna ESTU_COD_RESIDE_MCPIO: 938 subniveles
Columna ESTU_RESIDE_MCPIO: 875 subniveles
Columna ESTU_RESIDE_DEPTO: 33 subniveles
Columna COLE_GENERO: 3 subniveles
Columna COLE_NATURALEZA: 2 subniveles
Columna COLE_BILINGUE: 2 subniveles
Columna COLE_CARACTER: 5 subniveles
Columna PUNT_INGLES: 46 subniveles
Columna DESEMP_INGLES: 5 subniveles
Columna ESTU_PUESTO: 1000 subniveles

In [87]:
d = dtale.show(data)
d

/home/gabriel/.local/lib/python3.9/site-packages/dtale/views.py:756: FutureWarning:

['ESTU_TIPO_DOCUMENTO', 'ESTU_PAIS_RESIDE', 'FECHA_ANO', 'ESTU_RESIDE_MCPIO', 'ESTU_RESIDE_DEPTO', 'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CARACTER', 'DESEMP_INGLES'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

/home/gabriel/.local/lib/python3.9/site-packages/dtale/views.py:2010: FutureWarning:

The default value of regex will change from True to False in a future version.

2023-06-07 19:07:38,055 - INFO     - Executing shutdown due to inactivity...
2023-06-07 19:07:38,069 - INFO     - Executing shutdown...
2023-06-07 19:07:38,071 - ERROR    - Exception on /shutdown [GET]
Traceback (most recent call last):
  File "/home/gabriel/.local/lib/python3.9/site-packages/flask/app.py", line 2528, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/gabriel/.local/lib/python3.9/site-packages/flask/app.py", line 1825, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/gabriel/.local/lib/python3.9/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/gabriel/.local/lib/python3.9/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
  File "/home/gabriel/.local/lib/python3.9/site-packages/dtale/app.py", line 438, in shutdown
    shutdown_server()
  File "/home/gabriel/.local/lib/python3.9/site-packages/dtale/app.py", line 424, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

In [67]:
# ***************** ESTU_TIPO_DOCUMENTO
data.sort_values(by=['ESTU_TIPO_DOCUMENTO'], inplace=True)
DA={'NOMBRE':data['ESTU_TIPO_DOCUMENTO']}
DM_TDOC = pd.DataFrame(DA)
DM_TDOC = DM_TDOC.fillna('NA')
DM_TDOC.drop_duplicates(inplace=True)
DM_TDOC['IDTDOC'] = range(1, len(DM_TDOC) + 1)
DM_TDOC.set_index('IDTDOC', inplace=True)
DM_TDOC.to_csv('./DMs/DM_TDOC.csv')
DM_TDOC

       NOMBRE
IDTDOC
1           C
2           E
3           P
4           Q
5           R
6           T
7           V
8          NA

In [68]:
# ***************** ESTU_PAIS_RESIDE
data.sort_values(by=['ESTU_PAIS_RESIDE'], inplace=True)
DA={'NOMBRE':data['ESTU_PAIS_RESIDE']}
DM_ERES = pd.DataFrame(DA)
DM_ERES = DM_ERES.fillna('NA')
DM_ERES.drop_duplicates(inplace=True)
DM_ERES['IDERES'] = range(1, len(DM_ERES) + 1)
DM_ERES.set_index('IDERES', inplace=True)
DM_ERES.to_csv('./DMs/DM_ERES.csv')
DM_ERES

       NOMBRE
IDERES
1          AR
2          AW
3          BO
4          BR
5          CL
6          CO
7          CR
8          DE
9          DO
10         EC
11         ES
12         GT
13         IL
14         IN
15         JP
16         KR
17         MX
18         PE
19         SE
20         VA
21         VE
22         NA

In [69]:
# ***************** ESTU_ETNIA
data.sort_values(by=['ESTU_ETNIA'], inplace=True)
DA = {'NOMBRE': data['ESTU_ETNIA']}
DM_ETNIA = pd.DataFrame(DA)
DM_ETNIA.drop_duplicates(inplace = True)
DM_ETNIA = DM_ETNIA.fillna('NA')
DM_ETNIA['IDETNIA'] = range(1, len(DM_ETNIA) + 1)
DM_ETNIA.set_index('IDETNIA', inplace = True)
DM_ETNIA.to_csv('./DMs/DM_ETNIA.csv')
DM_ETNIA

        NOMBRE
IDETNIA
1          1.0
2          2.0
3          3.0
4          4.0
5          5.0
6          6.0
7          7.0
8          8.0
9          9.0
10        10.0
11        11.0
12        12.0
13        13.0
14        14.0
15        15.0
16        16.0
17        17.0
18        99.0
19          NA

In [70]:
# ***************** COLE_NATURALEZA
DA = {'NOMBRE': data['COLE_NATURALEZA']}
DM_COLNATU = pd.DataFrame(DA)
DM_COLNATU.drop_duplicates(inplace = True)
DM_COLNATU = DM_COLNATU.fillna('NA')
DM_COLNATU['IDCOLNATU'] = range(1, len(DM_COLNATU) + 1)
DM_COLNATU.set_index('IDCOLNATU', inplace = True)
DM_COLNATU.to_csv('./DMs/DM_COLNATU.csv')
DM_COLNATU

          NOMBRE
IDCOLNATU
1              O
2              N
3             NA

In [71]:
# ***************** COLE_BILINGUE
data.sort_values(by=['COLE_BILINGUE'], inplace=True)
DA = {'NOMBRE': data['COLE_BILINGUE']}
DM_COLBILIN = pd.DataFrame(DA)
DM_COLBILIN.drop_duplicates(inplace = True)
DM_COLBILIN = DM_COLBILIN.fillna('NA')
DM_COLBILIN['IDCOLBILIN'] = range(1, len(DM_COLBILIN) + 1)
DM_COLBILIN.set_index('IDCOLBILIN', inplace = True)
DM_COLBILIN.to_csv('./DMs/DM_COLBILIN.csv')
DM_COLBILIN

           NOMBRE
IDCOLBILIN
1             0.0
2             1.0
3              NA

In [72]:
# ***************** COLE_CARACTER
data.sort_values(by=['COLE_CARACTER'], inplace=True)
DA = {'NOMBRE': data['COLE_CARACTER']}
DM_COLCARAC = pd.DataFrame(DA)
DM_COLCARAC.drop_duplicates(inplace = True)
DM_COLCARAC = DM_COLCARAC.fillna('NA')
DM_COLCARAC['IDCOLCARAC'] = range(1, len(DM_COLCARAC) + 1)
DM_COLCARAC.set_index('IDCOLCARAC', inplace = True)
DM_COLCARAC.to_csv('./DMs/DM_COLCARAC.csv')
DM_COLCARAC

                         NOMBRE
IDCOLCARAC
1                     ACADEMICO
2           ACADEMICO Y TECNICO
3                   DESCONOCIDO
4                    NORMALISTA
5                       TECNICO
6                            NA

In [73]:
# ***************** DESEMP_INGLES
data.sort_values(by=['DESEMP_INGLES'], inplace=True)
DA = {'NOMBRE': data['DESEMP_INGLES']}
DM_DESING = pd.DataFrame(DA)
DM_DESING.drop_duplicates(inplace = True)
DM_DESING = DM_DESING.fillna('NA')
DM_DESING['IDDESING'] = range(1, len(DM_DESING) + 1)
DM_DESING.set_index('IDDESING', inplace = True)
DM_DESING.to_csv('./DMs/DM_DESING.csv')
DM_DESING

         NOMBRE
IDDESING
1            A-
2            A1
3            A2
4            B+
5            B1
6            NA

In [74]:
# ***************** COLE_GENERO#
# M
# F
# X --> MIXTO

data.sort_values(by=['COLE_GENERO'], inplace=True)
DA = {'NOMBRE': data['COLE_GENERO']}
DM_COLGEN = pd.DataFrame(DA)
DM_COLGEN.drop_duplicates(inplace = True)
DM_COLGEN = DM_COLGEN.fillna('NA')
DM_COLGEN['IDCOLGEN'] = range(1, len(DM_COLGEN) + 1)
DM_COLGEN.set_index('IDCOLGEN', inplace = True)
DM_COLGEN.to_csv('./DMs/DM_COLGEN.csv')
DM_COLGEN

         NOMBRE
IDCOLGEN
1             F
2             M
3             X
4            NA

In [75]:
# *************************  FECHAS

In [76]:
data['ESTU_NACIMIENTO_DIA'] = data['ESTU_NACIMIENTO_DIA'].fillna(0.0)
data['ESTU_NACIMIENTO_MES'] = data['ESTU_NACIMIENTO_MES'].fillna(0.0)
data['ESTU_NACIMIENTO_ANNO'] = data['ESTU_NACIMIENTO_ANNO'].fillna(0.0)

In [77]:
data['ESTU_NACIMIENTO_DIA'] = data['ESTU_NACIMIENTO_DIA'].map(int)
data['ESTU_NACIMIENTO_MES'] = data['ESTU_NACIMIENTO_MES'].map(int)
data['ESTU_NACIMIENTO_ANNO'] = data['ESTU_NACIMIENTO_ANNO'].map(int)

data.to_csv('./DMs/SB11_2012_1.csv', index = False)

In [78]:
# **************************** make date from 3 columns NO PANDAS
datetest = datetime.strptime('15/4/2012', '%d/%m/%Y')
with open('./DMs/SB11_2012_1.csv', 'r') as readFile, open('./DMs/SB11_2012_1X.csv', 'w') as writeFile: 
    fileone = csv.reader(readFile)
    headers = next(fileone)
    writer = csv.writer(writeFile)
    writer.writerow(headers)
    for row in fileone:
        if row[5]:
            rowdate = row[3] + "/" + row[4] + "/" + row[5]
            
            if rowdate != "0/0/0":
                #print(rowdate)
            
                fullDate = datetime.strptime(rowdate, '%d/%m/%Y')
                #print(fullDate)
                diff = relativedelta.relativedelta(datetest, fullDate)
                row[7] = str(fullDate)
                row[8] = int(diff.years)
                writer = csv.writer(writeFile)
                writer.writerow(row)

            else:
                row[7] = 'NA'
                writer = csv.writer(writeFile)
                writer.writerow(row)
            
        # ***************** ESTU_GENERO
        
        if row[2] == "X":
            if row[13] == "M":
                row[2] = "M"
            if row[13] == "F":
                row[2] = "F"

In [79]:
path = "./DMs/"
os.remove('./DMs/SB11_2012_1.csv')

old_name = r"SB11_2012_1X.csv"
new_name = r"SB11_2012_1.csv"
os.rename(path + old_name, path + new_name)

data = pd.read_csv('./DMs/SB11_2012_1.csv', low_memory=False)

In [4]:
data = pd.read_csv('./DMs/SB11_2012_1.csv', low_memory=False)
d = dtale.show(data)
d

/home/gabriel/.local/lib/python3.10/site-packages/dtale/views.py:756: FutureWarning:

['ESTU_TIPO_DOCUMENTO', 'ESTU_PAIS_RESIDE', 'FECHA_ANO', 'ESTU_RESIDE_MCPIO', 'ESTU_RESIDE_DEPTO', 'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CARACTER', 'DESEMP_INGLES'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

In [3]:
data = pd.read_csv('./DMs/SB11_2012_1X.csv', low_memory=False)
d = dtale.show(data)
d

FileNotFoundError: [Errno 2] No such file or directory: './DMs/SB11_2012_1X.csv'

In [ ]:
# ***************** ESTU_GENERO
data.sort_values(by=['ESTU_GENERO'], inplace=True)
DA = {'NOMBRE': data['ESTU_GENERO']}
DM_GENERO = pd.DataFrame(DA)
DM_GENERO.drop_duplicates(inplace = True)
DM_GENERO = DM_GENERO.fillna('NA')
DM_GENERO['IDGENERO'] = range(1, len(DM_GENERO) + 1)
DM_GENERO.set_index('IDGENERO', inplace = True)
DM_GENERO.to_csv('./DMs/DM_GENERO.csv')
DM_GENERO

In [41]:
# ***************************************************************************
# ***************************************************************************

In [42]:
data

Empty DataFrame
Columns: [ESTU_TIPO_DOCUMENTO, ESTU_PAIS_RESIDE, ESTU_GENERO, ESTU_NACIMIENTO_DIA, ESTU_NACIMIENTO_MES, ESTU_NACIMIENTO_ANNO, ESTU_EDAD, FECHA_ANO, EDAD, ESTU_ETNIA, ESTU_COD_RESIDE_MCPIO, ESTU_RESIDE_MCPIO, ESTU_RESIDE_DEPTO, COLE_GENERO, COLE_NATURALEZA, COLE_BILINGUE, COLE_CARACTER, PUNT_INGLES, DESEMP_INGLES, ESTU_PUESTO]
Index: []

In [121]:
# ***************** ESTU_TIPO_DOCUMENTO
data.columns = data.columns.str.replace('ESTU_TIPO_DOCUMENTO', 'IDTIPODOC')
data['IDTIPODOC'] = data.IDTIPODOC.fillna('8')
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('C', '1', regex=False)
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('R', '2', regex=False)
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('T', '3', regex=False)
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('E', '4', regex=False)
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('Q', '5', regex=False)
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('V', '6', regex=False)
data['IDTIPODOC'] = data.IDTIPODOC.str.replace('P', '7', regex=False)

In [103]:
# ***************** ESTU_GENERO
data.columns = data.columns.str.replace('ESTU_GENERO', 'IDGENERO')
data['IDGENERO'] = data.IDGENERO.str.replace('F', '1', regex=False)
data['IDGENERO'] = data.IDGENERO.str.replace('M', '2', regex=False)
data['IDGENERO'] = data.IDGENERO.str.replace('X', '3', regex=False)

In [123]:
# ***************** COLE_GENERO
data.columns = data.columns.str.replace('COLE_GENERO', 'IDCOLGEN')
data['IDCOLGEN'] = data.IDCOLGEN.fillna('4')
data['IDCOLGEN'] = data.IDCOLGEN.str.replace('F', '1', regex=False)
data['IDCOLGEN'] = data.IDCOLGEN.str.replace('M', '2', regex=False)
data['IDCOLGEN'] = data.IDCOLGEN.str.replace('X', '3', regex=False)

In [105]:
# ***************** COLE_NATURALEZA
data.columns = data.columns.str.replace('COLE_NATURALEZA', 'IDCOLNATU')
data['IDCOLNATU'] = data.IDCOLNATU.str.replace('F', '1', regex=False)
data['IDCOLNATU'] = data.IDCOLNATU.str.replace('M', '2', regex=False)
data['IDCOLNATU'] = data.IDCOLNATU.str.replace('X', '3', regex=False)

In [125]:
# ***************** COLE_BILINGUE
data.columns = data.columns.str.replace('COLE_BILINGUE', 'IDCOLBILIN')
data['IDCOLBILIN'] = data.IDCOLBILIN.fillna('3')
data['IDCOLBILIN'] = data.IDCOLBILIN.replace(0, '1', regex=False)
data['IDCOLBILIN'] = data.IDCOLBILIN.replace(1, '2', regex=False)

In [107]:
# ***************** COLE_CARACTER
data.columns = data.columns.str.replace('COLE_CARACTER', 'IDCOLCARAC')
data['IDCOLCARAC'] = data.IDCOLCARAC.fillna('6')
data['IDCOLCARAC'] = data.IDCOLCARAC.str.replace('ACADEMICO', '1', regex=False)
data['IDCOLCARAC'] = data.IDCOLCARAC.str.replace('ACADEMICO Y TECNICO', '2', regex=False)
data['IDCOLCARAC'] = data.IDCOLCARAC.str.replace('DESCONOCIDO', '3', regex=False)
data['IDCOLCARAC'] = data.IDCOLCARAC.str.replace('NORMALISTA', '4', regex=False)
data['IDCOLCARAC'] = data.IDCOLCARAC.str.replace('TECNICO', '5', regex=False)

In [108]:
# ***************** DESEMP_INGLES
data.columns = data.columns.str.replace('DESEMP_INGLES', 'IDDESING')
data['IDDESING'] = data.IDDESING.fillna('6')
data['IDDESING'] = data.IDDESING.str.replace('A-', '1', regex=False)
data['IDDESING'] = data.IDDESING.str.replace('A1', '2', regex=False)
data['IDDESING'] = data.IDDESING.str.replace('A2', '3', regex=False)
data['IDDESING'] = data.IDDESING.str.replace('B+', '4', regex=False)
data['IDDESING'] = data.IDDESING.str.replace('B1', '5', regex=False)

In [109]:
# ***************** ESTU_RESIDE_DEPTO    ESTU_COD_RESIDE_MCPIO    ESTU_RESIDE_DEPTO
data['ESTU_RESIDE_DEPTO'] = data['ESTU_COD_RESIDE_MCPIO'] // 1000
data['ESTU_COD_RESIDE_MCPIO'] = data['ESTU_COD_RESIDE_MCPIO'].fillna('NA')
data['ESTU_RESIDE_DEPTO'] = data['ESTU_RESIDE_DEPTO'].fillna('NA')

data.columns = data.columns.str.replace('ESTU_COD_RESIDE_MCPIO', 'IDCODEMUNI')
data.columns = data.columns.str.replace('ESTU_RESIDE_DEPTO', 'IDCODEDEPTO')

In [110]:
data.drop(['ESTU_NACIMIENTO_DIA', 'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO'], axis=1, inplace=True)
data.drop(['ESTU_RESIDE_MCPIO'], axis=1, inplace=True)

In [126]:
data.to_csv('./DMs/SB11_2012_1.csv', index = False)

In [61]:
print('DONE....')

DONE....

In [117]:
reporte = ProfileReport(data, title = 'SB11_2012_1 Report')

In [118]:
reporte
reporte.to_file('./docs/SB11_2012_1_Report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# ************* To Mariadb